.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-section-theme-dark);
}

@media screen and (max-width:1199px) {
  .footer {
      text-align: center;
  }

  .logo-address-social {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
  }
}

@media screen and (min-width:768px) {
  .logo-address-social {
    display: flex;
    justify-content: space-between;

    max-width: 603px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }

  .logo-address-social {
    align-items: baseline;
  }
}




