.header {
  border-bottom: 1px solid var(--color-border-header);
}

.header__container {
  @include centeredFlex ();
}


@media screen and (max-width: 767px) {
  .header {
        padding-top: 10px;
        padding-bottom: 10px;
  }

  .header__container {
    justify-content: space-between;
  }
}
