.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  background-color: var(--color-section-theme-dark);
}

.section-hero_overlay_img {
  width: 100vw;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero-480.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-hero_overlay_img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-960@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section-hero_overlay_img {
    width: 100vw;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero-768.jpg");
  }
  
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-hero_overlay_img {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-1536@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-hero_overlay_img {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/hero-1600.jpg");
  }
  
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-hero_overlay_img {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-3200@2x.jpg');
    }
  }
}