@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-list {
    margin-left: auto;
  }

  .contacts-list__link {
    @include centeredFlex ($jc: flex-start);
  
    color: var(--color-text-two);
    text-decoration: none;
    font-weight: var(--font-w500);
    @include font (12px, 1.17, 0.02em);
  }

  .contacts-list__icon {
    margin-right: 8px;

    fill: currentColor;
  }

  .contacts-list__mail {
    width: 14px;
    height: 10px;
  }
  
  .contacts-list__tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
      margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }

  .contacts-list__mail {
    width: 16px;
    height: 12px;
  }

  .contacts-list__tel {
    width: 12px;
    height: 16px;
  }

  .contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts-list__link {
    transition: color var(--transition-duration) var(--transition-timing-function);
    
    padding-top: 32px;
    padding-bottom: 32px;
  
    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  }
}






