.contacts-list {
  display: none;
  
  @include mq (tablet) {
    display: block;
  }

  
  // display: flex;
}

.header__contacts-list {
    margin-left: auto;
  }

.contacts-list__link {
  @include centeredFlex ($jc: flex-start);

  color: var(--color-text-two);
  text-decoration: none;
  font-weight: var(--font-w500);
  @include font (12px, 1.17, 0.02em);

//   transition: color var(--transition-duration) var(--transition-timing-function);

  // @include centeredFlex ();
  // padding-top: 32px;
  // padding-bottom: 32px;

//   &:hover,
//   &:focus {
//     color: var(--color-brand);
//   }
}

.contacts-list__icon {
  fill: currentColor;
}

.contacts-list__icon_margin_right {
    margin-right: 8px;
}

.icon-mail {
  width: 14px;
  height: 10px;
}

.icon-tel {
  width: 10px;
  height: 14px;
}

.contacts-list__item:not(:last-child) {
  @include mq (tablet-only) {
    margin-bottom: 10px;
  }

    @include mq (desktop) {
      margin-right: 50px;
    }

}