.mobile-menu-button {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;

    @include mq (tablet) {
        display: none;
    }
}

.mobile-menu-button__icon-burger {
        fill: #000000;

}

.mobile-menu-button__icon-close {
        fill: var(--color-text);

}