body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-general);
  // line-height: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
}
