:root {
  --color-white: #ffffff;
  --color-brand: #2196f3;
  --color-brand-theme-white: #212121;
  --color-brand-theme-dark: #ffffff;
  --color-text: #212121;
  --color-text-two: #757575;
  --color-section-theme-dark: #2f303a;
  --color-section-theme-dark-text-two: rgba(255, 255, 255, 0.6);
  --color-icon: #afb1b8;
  --color-button-filter: #f5f4fa;
  --color-button-filter-hover: #188ce8;
  --color-border: #eeeeee;
  --color-border-header: #ececec;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  --font-general: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
  --font-w500: 500;
  --font-w700: 700;
  --font-w900: 900;
}
